{% extends 'base.html' %}

{% block title %}

    {{object.title}}: {{block.super}}

{% endblock %}

{% block sidebar %}
<h1>{{object.title}}</h1>
{% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Rubric: <a href="{{object.rubric.get_absolute_url}}">{{object.rubric}}</a>
        <p class="card-header" align="right">{{post.author}}</p>
    </div>
    <div class="card-body">
        <div class="media">
            {% if object.photo %}
            <img src="{{object.photo.url}}" alt="" width="350" class="mr-3" align="left" style="margin:4px 10px 2px 0px;">
            {% else %}
            <img src="https://picsum.photos/id/1060/350/235/?blur=2" alt="" class="mr-3" align="left" style="margin:4px 10px 2px 0px;">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{object.title}}</h5>
                <p class="card-text">{{object.content|linebreaks}}</p>
                {% if request.user.is_authenticated and object.author == request.user %}
                <p align="right">
                    <a href="{% url 'blog:update_post' object.pk %}" class="btn btn-outline-primary">Edit Post</a>
                    <a href="{% url 'blog:delete_post' object.pk %}" class="btn btn-outline-danger">Delete</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{object.created_at|date:"Y-m-d H:i"}}
    </div>
</div>
{% endblock %}
